In [5]:
#importing all libraries

In [8]:

import xml.etree.ElementTree as ETree
import pandas as pd
  


xmldata = r'C:\Users\ACER\Downloads\Coding_data\Coding_data\customer5.xml'  # give the path where you saved the xml file
prstree = ETree.parse(xmldata)
root = prstree.getroot()


store_items = []
all_items = []
  
for storeno in root.iter('LOAN-DETAILS'):
    try:
        acct_number = storeno.find('ACCT-NUMBER').text
        credit_gurantaor = storeno.find('CREDIT-GUARANTOR').text
        account_type = storeno.find('ACCT-TYPE').text
        date_reported = storeno.find('DATE-REPORTED').text
        ownership_ind = storeno.find('OWNERSHIP-IND').text
        account_status = storeno.find('ACCOUNT-STATUS').text
        disbursed_amt = storeno.find('DISBURSED-AMT').text
        disbursed_date = storeno.find('DISBURSED-DATE').text
        last_payment_date = storeno.find('LAST-PAYMENT-DATE').text
        closed_date = storeno.find('CLOSED-DATE')
        overdue_amt = storeno.find('OVERDUE-AMT')
        write_off_amt = storeno.find('WRITE-OFF-AMT').text
        current_bal = storeno.find('CURRENT-BAL').text
        security_status = storeno.find('SECURITY-STATUS').text
        combined = storeno.find('COMBINED-PAYMENT-HISTORY').text
        matched_type = storeno.find('MATCHED-TYPE').text
        actual_payment = storeno.find('ACTUAL-PAYMENT').text
        overdue_amt = storeno.find('OVERDUE-AMT').text
        last_payment_date = storeno.find('LAST-PAYMENT-DATE').text
       
    except:
        None
        store_items = [acct_number, credit_gurantaor,account_type, date_reported,  ownership_ind, account_status,disbursed_amt,disbursed_date,last_payment_date,closed_date,overdue_amt, write_off_amt,current_bal, security_status,combined,matched_type,actual_payment,overdue_amt,last_payment_date]
        all_items.append(store_items)
    
xmlToDf = pd.DataFrame(all_items, columns=[
  'Acct_Number','Credit_gurantaor','Account_type', 'Date_Reported', 'Ownership_ind', 'Account_Status','Disbursed_Amount','Disbursed_Date','Last_payment_date','Closed_date','Overdue_amt','Write_off_amt','Current_Balance','Security_Status','Combined_Payment_History','Matched_type','Actual_payment','Overdue_Amount','Last_Payment_Date'])
  
print(xmlToDf.to_string(index=False))

Acct_Number Credit_gurantaor  Account_type Date_Reported Ownership_ind Account_Status Disbursed_Amount Disbursed_Date Last_payment_date Closed_date Overdue_amt Write_off_amt Current_Balance Security_Status                                                                                                                                                                                                                                                                                                            Combined_Payment_History Matched_type Actual_payment Overdue_Amount Last_Payment_Date
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     03-12-2018        19-07-2017          []          []             0               0         Secured                                                                                                                                                                                                                              Jul:2017,000/XXX|Jun:2017,000/STD|May:2017,000/STD|Apr:2017,000/STD|Mar:2017,000/STD|Feb:2017,000/STD|      PRIMARY         40,006             []        19-07-2017
       XXXX             XXXX     Gold Loan    31-03-2017    Individual         Closed           30,551     24-10-2016        02-03-2017          []          []             0               0         Secured                                                                                                                                                                                                                                               Mar:2017,000/XXX|Feb:2017,XXX/XXX|Jan:2017,XXX/XXX|Dec:2016,XXX/XXX|Nov:2016,XXX/XXX|      PRIMARY         40,006             []        02-03-2017
       XXXX             XXXX     Gold Loan    31-10-2017    Individual         Closed           46,000     30-07-2016        02-03-2017          []          []             0               0         Secured                                                                                                                                                                                                                                               Mar:2017,000/XXX|Feb:2017,XXX/XXX|Jan:2017,XXX/XXX|Dec:2016,XXX/XXX|Nov:2016,XXX/XXX|      PRIMARY         40,006             []        02-03-2017
       XXXX             XXXX     Gold Loan    31-10-2017    Individual         Closed           91,000     30-07-2016        02-03-2017          []          []             0               0         Secured                                                                                                                                                                                                                                               Mar:2017,000/XXX|Feb:2017,XXX/XXX|Jan:2017,XXX/XXX|Dec:2016,XXX/XXX|Nov:2016,XXX/XXX|      PRIMARY         40,006             []        02-03-2017
       XXXX             XXXX         Other    28-02-2019    Individual         Active            1,799     20-08-2017        07-12-2017        None          []             0               0      Un-secured Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|      PRIMARY         40,006             []        07-12-2017
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     28-11-2018        07-12-2017        None          []             0               0      Un-secured Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|      PRIMARY         40,006             []        07-12-2017
       XXXX             XXXX     Gold Loan    28-02-2014    Individual         Closed         1,14,000     13-05-2013        07-12-2017        None          []             0               0      Un-secured Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|      PRIMARY         40,006             []        07-12-2017
       XXXX             XXXX         Other    28-02-2019    Individual         Active            1,979     10-11-2018        02-02-2019        None          []             0             989      Un-secured                                                                                                                                                                                                                                                                Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY         40,006             []        02-02-2019
       XXXX             XXXX     Gold Loan    31-07-2016    Individual         Closed           39,000     16-06-2015        17-06-2015          []        None             0               0         Secured                                                                                      Jul:2016,XXX/STD|Jun:2016,031/STD|May:2016,001/STD|Apr:2016,000/STD|Mar:2016,000/STD|Feb:2016,000/STD|Jan:2016,000/STD|Dec:2015,000/STD|Nov:2015,000/STD|Oct:2015,000/STD|Sep:2015,000/STD|Aug:2015,000/STD|Jul:2015,000/STD|Jun:2015,000/STD|      PRIMARY         40,006           None        17-06-2015
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     19-12-2018        17-06-2015          []        None             0               0         Secured                                                                                      Jul:2016,XXX/STD|Jun:2016,031/STD|May:2016,001/STD|Apr:2016,000/STD|Mar:2016,000/STD|Feb:2016,000/STD|Jan:2016,000/STD|Dec:2015,000/STD|Nov:2015,000/STD|Oct:2015,000/STD|Sep:2015,000/STD|Aug:2015,000/STD|Jul:2015,000/STD|Jun:2015,000/STD|      PRIMARY         40,006           None        17-06-2015
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     07-12-2018        17-06-2015          []        None             0               0         Secured                                                                                      Jul:2016,XXX/STD|Jun:2016,031/STD|May:2016,001/STD|Apr:2016,000/STD|Mar:2016,000/STD|Feb:2016,000/STD|Jan:2016,000/STD|Dec:2015,000/STD|Nov:2015,000/STD|Oct:2015,000/STD|Sep:2015,000/STD|Aug:2015,000/STD|Jul:2015,000/STD|Jun:2015,000/STD|      PRIMARY         40,006           None        17-06-2015
       XXXX             XXXX     Gold Loan    31-07-2017    Individual         Closed           30,200     02-03-2017        18-07-2017          []          []             0               0         Secured                                                                                                                                                                                                                                                                Jul:2017,000/XXX|Jun:2017,000/STD|May:2017,000/STD|Apr:2017,XXX/XXX|      PRIMARY         40,006             []        18-07-2017
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Closed           37,999     15-11-2018        24-02-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY         40,006             []        24-02-2019
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Active            5,000     25-01-2019        24-02-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY         40,006             []        24-02-2019
       XXXX             XXXX Consumer Loan    31-10-2018    Individual         Active            9,484     13-08-2018        24-02-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY         40,006             []        24-02-2019
       XXXX             XXXX     Gold Loan    29-02-2016    Individual         Closed            9,000     06-05-2015        03-02-2016          []          []             0               0         Secured                                                                                                                                                                           Feb:2016,000/XXX|Jan:2016,XXX/XXX|Dec:2015,XXX/XXX|Nov:2015,XXX/XXX|Oct:2015,XXX/XXX|Sep:2015,XXX/XXX|Aug:2015,XXX/XXX|Jul:2015,XXX/XXX|Jun:2015,XXX/XXX|      PRIMARY         40,006             []        03-02-2016
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Active           16,500     20-08-2017        28-11-2018        None          []             0               0      Un-secured                  Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|      PRIMARY         40,006             []        28-11-2018
       XXXX             XXXX     Gold Loan    31-01-2018    Individual         Closed           29,575     18-07-2017        30-01-2018          []          []             0               0         Secured                                                                                                                                                                                                             Jan:2018,000/XXX|Dec:2017,077/XXX|Nov:2017,000/STD|Oct:2017,000/STD|Sep:2017,000/STD|Aug:2017,000/STD|Jul:2017,000/STD|      PRIMARY         40,006             []        30-01-2018
       XXXX             XXXX Personal Loan    31-01-2019    Individual         Closed            5,000     14-01-2019        25-01-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                                                                   Jan:2019,000/STD|      PRIMARY         40,006             []        25-01-2019
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     18-11-2018        25-01-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                                                                   Jan:2019,000/STD|      PRIMARY         40,006             []        25-01-2019
       XXXX             XXXX     Gold Loan    30-06-2016    Individual         Closed            8,800     03-02-2016        06-06-2016          []          []             0               0         Secured                                                                                                                                                                                                                                                                Jun:2016,000/XXX|May:2016,XXX/XXX|Apr:2016,XXX/XXX|Mar:2016,XXX/XXX|      PRIMARY         40,006             []        06-06-2016
       XXXX             XXXX     Gold Loan    31-07-2016    Individual         Closed           80,000     22-06-2015        22-06-2015          []        None             0               0         Secured                                                                                      Jul:2016,XXX/STD|Jun:2016,031/STD|May:2016,001/STD|Apr:2016,000/STD|Mar:2016,000/STD|Feb:2016,000/STD|Jan:2016,000/STD|Dec:2015,000/STD|Nov:2015,000/STD|Oct:2015,000/STD|Sep:2015,000/STD|Aug:2015,000/STD|Jul:2015,000/STD|Jun:2015,000/STD|      PRIMARY         40,006           None        22-06-2015
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Closed           24,240     24-10-2017        02-08-2018          []          []             0               0      Un-secured                                                                                                                        Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|      PRIMARY         40,006             []        02-08-2018
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Active            5,000     05-02-2019        02-08-2018          []          []             0               0      Un-secured                                                                                                                        Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|      PRIMARY         40,006             []        02-08-2018
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Active           12,661     24-02-2019        02-08-2018          []          []             0               0      Un-secured                                                                                                                        Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|      PRIMARY         40,006             []        02-08-2018
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Active           11,999     14-10-2018        02-02-2019        None          []             0           3,999      Un-secured                                                                                                                                                                                                                                               Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|      PRIMARY         40,006             []        02-02-2019
       XXXX             XXXX     Gold Loan    31-10-2016    Individual         Closed           30,552     06-06-2016        24-10-2016          []          []             0               0         Secured                                                                                                                                                                                                                                                                Oct:2016,000/XXX|Sep:2016,XXX/XXX|Aug:2016,XXX/XXX|Jul:2016,XXX/XXX|      PRIMARY         40,006             []        24-10-2016
       XXXX             XXXX Consumer Loan    31-10-2018    Individual         Active            4,000     29-09-2018        30-10-2018        None          []             0           3,728      Un-secured                                                                                                                                                                                                                                                                                                  Oct:2018,XXX/STD|Sep:2018,XXX/STD|      PRIMARY         40,006             []        30-10-2018
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Closed           25,000     19-04-2017        02-01-2018          []          []             0               0      Un-secured                                   Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|Jul:2017,000/XXX|Jun:2017,000/XXX|May:2017,000/XXX|Apr:2017,000/XXX|      PRIMARY         40,006             []        02-01-2018
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            5,000     30-12-2018        02-01-2018          []          []             0               0      Un-secured                                   Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|Jul:2017,000/XXX|Jun:2017,000/XXX|May:2017,000/XXX|Apr:2017,000/XXX|      PRIMARY         40,006             []        02-01-2018

In [8]:

import xml.etree.ElementTree as ETree
import pandas as pd
  


xmldata = r'C:\Users\ACER\Downloads\Coding_data\Coding_data\customer5.xml'  # give the path where you saved the xml file
prstree = ETree.parse(xmldata)
root = prstree.getroot()


store_items = []
all_items = []
  
for storeno in root.iter('LOAN-DETAILS'):
    try:
        acct_number = storeno.find('ACCT-NUMBER').text
        credit_gurantaor = storeno.find('CREDIT-GUARANTOR').text
        account_type = storeno.find('ACCT-TYPE').text
        date_reported = storeno.find('DATE-REPORTED').text
        ownership_ind = storeno.find('OWNERSHIP-IND').text
        account_status = storeno.find('ACCOUNT-STATUS').text
        disbursed_amt = storeno.find('DISBURSED-AMT').text
        disbursed_date = storeno.find('DISBURSED-DATE').text
        last_payment_date = storeno.find('LAST-PAYMENT-DATE').text
        closed_date = storeno.find('CLOSED-DATE')
        overdue_amt = storeno.find('OVERDUE-AMT')
        write_off_amt = storeno.find('WRITE-OFF-AMT').text
        current_bal = storeno.find('CURRENT-BAL').text
        security_status = storeno.find('SECURITY-STATUS').text
        combined = storeno.find('COMBINED-PAYMENT-HISTORY').text
        matched_type = storeno.find('MATCHED-TYPE').text
        actual_payment = storeno.find('ACTUAL-PAYMENT').text
        overdue_amt = storeno.find('OVERDUE-AMT').text
        last_payment_date = storeno.find('LAST-PAYMENT-DATE').text
       
    except:
        None
        store_items = [acct_number, credit_gurantaor,account_type, date_reported,  ownership_ind, account_status,disbursed_amt,disbursed_date,last_payment_date,closed_date,overdue_amt, write_off_amt,current_bal, security_status,combined,matched_type,actual_payment,overdue_amt,last_payment_date]
        all_items.append(store_items)
    
xmlToDf = pd.DataFrame(all_items, columns=[
  'Acct_Number','Credit_gurantaor','Account_type', 'Date_Reported', 'Ownership_ind', 'Account_Status','Disbursed_Amount','Disbursed_Date','Last_payment_date','Closed_date','Overdue_amt','Write_off_amt','Current_Balance','Security_Status','Combined_Payment_History','Matched_type','Actual_payment','Overdue_Amount','Last_Payment_Date'])
  
print(xmlToDf.to_string(index=False))

Acct_Number Credit_gurantaor  Account_type Date_Reported Ownership_ind Account_Status Disbursed_Amount Disbursed_Date Last_payment_date Closed_date Overdue_amt Write_off_amt Current_Balance Security_Status                                                                                                                                                                                                                                                                                                            Combined_Payment_History Matched_type Actual_payment Overdue_Amount Last_Payment_Date
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     03-12-2018        19-07-2017          []          []             0               0         Secured                                                                                                                                                                                                                              Jul:2017,000/XXX|Jun:2017,000/STD|May:2017,000/STD|Apr:2017,000/STD|Mar:2017,000/STD|Feb:2017,000/STD|      PRIMARY         40,006             []        19-07-2017
       XXXX             XXXX     Gold Loan    31-03-2017    Individual         Closed           30,551     24-10-2016        02-03-2017          []          []             0               0         Secured                                                                                                                                                                                                                                               Mar:2017,000/XXX|Feb:2017,XXX/XXX|Jan:2017,XXX/XXX|Dec:2016,XXX/XXX|Nov:2016,XXX/XXX|      PRIMARY         40,006             []        02-03-2017
       XXXX             XXXX     Gold Loan    31-10-2017    Individual         Closed           46,000     30-07-2016        02-03-2017          []          []             0               0         Secured                                                                                                                                                                                                                                               Mar:2017,000/XXX|Feb:2017,XXX/XXX|Jan:2017,XXX/XXX|Dec:2016,XXX/XXX|Nov:2016,XXX/XXX|      PRIMARY         40,006             []        02-03-2017
       XXXX             XXXX     Gold Loan    31-10-2017    Individual         Closed           91,000     30-07-2016        02-03-2017          []          []             0               0         Secured                                                                                                                                                                                                                                               Mar:2017,000/XXX|Feb:2017,XXX/XXX|Jan:2017,XXX/XXX|Dec:2016,XXX/XXX|Nov:2016,XXX/XXX|      PRIMARY         40,006             []        02-03-2017
       XXXX             XXXX         Other    28-02-2019    Individual         Active            1,799     20-08-2017        07-12-2017        None          []             0               0      Un-secured Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|      PRIMARY         40,006             []        07-12-2017
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     28-11-2018        07-12-2017        None          []             0               0      Un-secured Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|      PRIMARY         40,006             []        07-12-2017
       XXXX             XXXX     Gold Loan    28-02-2014    Individual         Closed         1,14,000     13-05-2013        07-12-2017        None          []             0               0      Un-secured Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|      PRIMARY         40,006             []        07-12-2017
       XXXX             XXXX         Other    28-02-2019    Individual         Active            1,979     10-11-2018        02-02-2019        None          []             0             989      Un-secured                                                                                                                                                                                                                                                                Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY         40,006             []        02-02-2019
       XXXX             XXXX     Gold Loan    31-07-2016    Individual         Closed           39,000     16-06-2015        17-06-2015          []        None             0               0         Secured                                                                                      Jul:2016,XXX/STD|Jun:2016,031/STD|May:2016,001/STD|Apr:2016,000/STD|Mar:2016,000/STD|Feb:2016,000/STD|Jan:2016,000/STD|Dec:2015,000/STD|Nov:2015,000/STD|Oct:2015,000/STD|Sep:2015,000/STD|Aug:2015,000/STD|Jul:2015,000/STD|Jun:2015,000/STD|      PRIMARY         40,006           None        17-06-2015
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     19-12-2018        17-06-2015          []        None             0               0         Secured                                                                                      Jul:2016,XXX/STD|Jun:2016,031/STD|May:2016,001/STD|Apr:2016,000/STD|Mar:2016,000/STD|Feb:2016,000/STD|Jan:2016,000/STD|Dec:2015,000/STD|Nov:2015,000/STD|Oct:2015,000/STD|Sep:2015,000/STD|Aug:2015,000/STD|Jul:2015,000/STD|Jun:2015,000/STD|      PRIMARY         40,006           None        17-06-2015
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     07-12-2018        17-06-2015          []        None             0               0         Secured                                                                                      Jul:2016,XXX/STD|Jun:2016,031/STD|May:2016,001/STD|Apr:2016,000/STD|Mar:2016,000/STD|Feb:2016,000/STD|Jan:2016,000/STD|Dec:2015,000/STD|Nov:2015,000/STD|Oct:2015,000/STD|Sep:2015,000/STD|Aug:2015,000/STD|Jul:2015,000/STD|Jun:2015,000/STD|      PRIMARY         40,006           None        17-06-2015
       XXXX             XXXX     Gold Loan    31-07-2017    Individual         Closed           30,200     02-03-2017        18-07-2017          []          []             0               0         Secured                                                                                                                                                                                                                                                                Jul:2017,000/XXX|Jun:2017,000/STD|May:2017,000/STD|Apr:2017,XXX/XXX|      PRIMARY         40,006             []        18-07-2017
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Closed           37,999     15-11-2018        24-02-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY         40,006             []        24-02-2019
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Active            5,000     25-01-2019        24-02-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY         40,006             []        24-02-2019
       XXXX             XXXX Consumer Loan    31-10-2018    Individual         Active            9,484     13-08-2018        24-02-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY         40,006             []        24-02-2019
       XXXX             XXXX     Gold Loan    29-02-2016    Individual         Closed            9,000     06-05-2015        03-02-2016          []          []             0               0         Secured                                                                                                                                                                           Feb:2016,000/XXX|Jan:2016,XXX/XXX|Dec:2015,XXX/XXX|Nov:2015,XXX/XXX|Oct:2015,XXX/XXX|Sep:2015,XXX/XXX|Aug:2015,XXX/XXX|Jul:2015,XXX/XXX|Jun:2015,XXX/XXX|      PRIMARY         40,006             []        03-02-2016
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Active           16,500     20-08-2017        28-11-2018        None          []             0               0      Un-secured                  Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|      PRIMARY         40,006             []        28-11-2018
       XXXX             XXXX     Gold Loan    31-01-2018    Individual         Closed           29,575     18-07-2017        30-01-2018          []          []             0               0         Secured                                                                                                                                                                                                             Jan:2018,000/XXX|Dec:2017,077/XXX|Nov:2017,000/STD|Oct:2017,000/STD|Sep:2017,000/STD|Aug:2017,000/STD|Jul:2017,000/STD|      PRIMARY         40,006             []        30-01-2018
       XXXX             XXXX Personal Loan    31-01-2019    Individual         Closed            5,000     14-01-2019        25-01-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                                                                   Jan:2019,000/STD|      PRIMARY         40,006             []        25-01-2019
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            3,500     18-11-2018        25-01-2019          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                                                                   Jan:2019,000/STD|      PRIMARY         40,006             []        25-01-2019
       XXXX             XXXX     Gold Loan    30-06-2016    Individual         Closed            8,800     03-02-2016        06-06-2016          []          []             0               0         Secured                                                                                                                                                                                                                                                                Jun:2016,000/XXX|May:2016,XXX/XXX|Apr:2016,XXX/XXX|Mar:2016,XXX/XXX|      PRIMARY         40,006             []        06-06-2016
       XXXX             XXXX     Gold Loan    31-07-2016    Individual         Closed           80,000     22-06-2015        22-06-2015          []        None             0               0         Secured                                                                                      Jul:2016,XXX/STD|Jun:2016,031/STD|May:2016,001/STD|Apr:2016,000/STD|Mar:2016,000/STD|Feb:2016,000/STD|Jan:2016,000/STD|Dec:2015,000/STD|Nov:2015,000/STD|Oct:2015,000/STD|Sep:2015,000/STD|Aug:2015,000/STD|Jul:2015,000/STD|Jun:2015,000/STD|      PRIMARY         40,006           None        22-06-2015
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Closed           24,240     24-10-2017        02-08-2018          []          []             0               0      Un-secured                                                                                                                        Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|      PRIMARY         40,006             []        02-08-2018
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Active            5,000     05-02-2019        02-08-2018          []          []             0               0      Un-secured                                                                                                                        Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|      PRIMARY         40,006             []        02-08-2018
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Active           12,661     24-02-2019        02-08-2018          []          []             0               0      Un-secured                                                                                                                        Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|      PRIMARY         40,006             []        02-08-2018
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Active           11,999     14-10-2018        02-02-2019        None          []             0           3,999      Un-secured                                                                                                                                                                                                                                               Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|      PRIMARY         40,006             []        02-02-2019
       XXXX             XXXX     Gold Loan    31-10-2016    Individual         Closed           30,552     06-06-2016        24-10-2016          []          []             0               0         Secured                                                                                                                                                                                                                                                                Oct:2016,000/XXX|Sep:2016,XXX/XXX|Aug:2016,XXX/XXX|Jul:2016,XXX/XXX|      PRIMARY         40,006             []        24-10-2016
       XXXX             XXXX Consumer Loan    31-10-2018    Individual         Active            4,000     29-09-2018        30-10-2018        None          []             0           3,728      Un-secured                                                                                                                                                                                                                                                                                                  Oct:2018,XXX/STD|Sep:2018,XXX/STD|      PRIMARY         40,006             []        30-10-2018
       XXXX             XXXX Consumer Loan    28-02-2019    Individual         Closed           25,000     19-04-2017        02-01-2018          []          []             0               0      Un-secured                                   Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|Jul:2017,000/XXX|Jun:2017,000/XXX|May:2017,000/XXX|Apr:2017,000/XXX|      PRIMARY         40,006             []        02-01-2018
       XXXX             XXXX Personal Loan    28-02-2019    Individual         Closed            5,000     30-12-2018        02-01-2018          []          []             0               0      Un-secured                                   Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,000/XXX|Apr:2018,000/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,000/XXX|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,000/XXX|Aug:2017,000/XXX|Jul:2017,000/XXX|Jun:2017,000/XXX|May:2017,000/XXX|Apr:2017,000/XXX|      PRIMARY         40,006             []        02-01-2018

In [ ]:
#in above dataframe we got all necessary information we want from xml file

In [19]:
xmlToDf.shape

(28, 19)

In [110]:
print(xmlToDf.Disbursed_Amount)   #we get all Disbursed amt of customer1

0      1,00,000
1      1,27,341
2      9,00,000
3      1,30,405
4        22,999
5      3,75,000
6        35,000
7      1,21,094
8      1,21,094
9      3,00,000
10       42,000
11       60,000
12       70,000
13     3,01,000
14     9,85,000
15    12,28,599
16     6,50,000
17       47,148
18          532
19       55,666
20     3,75,000
21       97,983
22     1,55,677
23       15,390
24       55,666
25     1,60,000
26            0
27     1,14,304
Name: Disbursed_Amount, dtype: object

In [112]:
list_of_disbursedamt = xmlToDf['Disbursed_Amount'].to_list()
print('List of Disbursedamt = ', list_of_disbursedamt)

List of Disbursedamt =  ['1,00,000', '1,27,341', '9,00,000', '1,30,405', '22,999', '3,75,000', '35,000', '1,21,094', '1,21,094', '3,00,000', '42,000', '60,000', '70,000', '3,01,000', '9,85,000', '12,28,599', '6,50,000', '47,148', '532', '55,666', '3,75,000', '97,983', '1,55,677', '15,390', '55,666', '1,60,000', '0', '1,14,304']

In [113]:
s = list_of_disbursedamt
print(s)

['1,00,000', '1,27,341', '9,00,000', '1,30,405', '22,999', '3,75,000', '35,000', '1,21,094', '1,21,094', '3,00,000', '42,000', '60,000', '70,000', '3,01,000', '9,85,000', '12,28,599', '6,50,000', '47,148', '532', '55,666', '3,75,000', '97,983', '1,55,677', '15,390', '55,666', '1,60,000', '0', '1,14,304']

In [114]:
s = xmlToDf.Disbursed_Amount

In [115]:
print(s)

0      1,00,000
1      1,27,341
2      9,00,000
3      1,30,405
4        22,999
5      3,75,000
6        35,000
7      1,21,094
8      1,21,094
9      3,00,000
10       42,000
11       60,000
12       70,000
13     3,01,000
14     9,85,000
15    12,28,599
16     6,50,000
17       47,148
18          532
19       55,666
20     3,75,000
21       97,983
22     1,55,677
23       15,390
24       55,666
25     1,60,000
26            0
27     1,14,304
Name: Disbursed_Amount, dtype: object

In [ ]:
#to save Customer 1 disbursed amt detail in csv file

In [116]:
s.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer1.xls")

In [ ]:
#run code to convert xml file into dataframe from every customer and then saving them to csv files

In [7]:
print(xmlToDf.Disbursed_Amount)

0     2,21,850
1       54,997
2       10,000
3        5,000
4        8,000
5     1,32,000
6       12,700
7        8,000
8        7,992
9       10,000
10      10,242
11       8,000
12      39,000
13      38,000
14       8,000
15      38,700
16      60,000
17      16,607
18      10,000
19    1,35,000
20      17,409
21      25,000
22      27,000
23      10,000
24       8,000
25       5,000
26      38,700
27      10,000
28      41,363
29      56,044
Name: Disbursed_Amount, dtype: object

In [82]:
t=xmlToDf.Disbursed_Amount

In [85]:
t.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer2.xls")

In [87]:
print(xmlToDf.Disbursed_Amount)
u=xmlToDf.Disbursed_Amount
u.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer3.xls")

0       17,926
1     1,00,000
2       52,602
3       38,221
4       58,276
5       37,000
6       40,000
7       23,990
8        4,000
9       71,000
10      48,619
11      50,000
12      46,273
13      10,000
14       4,000
15      11,790
Name: Disbursed_Amount, dtype: object

In [93]:
print(xmlToDf.Disbursed_Amount)
v=xmlToDf.Disbursed_Amount
v.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer4.xls")

0     1,52,244
1        7,000
2       51,000
3       16,999
4       60,000
5     2,18,876
6       99,698
7     2,13,844
8       11,000
9       13,990
10    2,13,844
11       5,000
12      14,478
13      15,500
14    1,32,000
15      19,999
16    1,91,081
17    1,03,171
18    3,03,814
19    4,85,000
20      10,000
21    3,10,161
22      71,352
23      47,687
24       7,809
25      66,000
26    5,00,000
27       5,000
28      10,000
29      84,257
30    1,32,000
Name: Disbursed_Amount, dtype: object

In [97]:
print(xmlToDf.Disbursed_Amount)
w=xmlToDf.Disbursed_Amount
w.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer6.xls")

0     36,000
1     31,395
2      4,700
3     27,900
4     30,000
5      9,000
6     44,034
7     29,000
8     11,400
9     42,500
10    19,500
11    25,900
12     6,000
13     8,530
14    39,990
15    13,500
16    19,120
17    54,600
18    10,268
19    47,996
20     6,005
21    71,410
22     5,249
23    25,600
24    17,000
25     8,000
26    46,000
27    18,800
28    50,300
29    21,990
30    41,700
31     7,000
32    16,600
Name: Disbursed_Amount, dtype: object

In [100]:
print(xmlToDf.Disbursed_Amount)
x=xmlToDf.Disbursed_Amount
x.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer7.xls")

0      1,01,333
1      5,70,000
2        33,000
3        40,000
4        14,500
5        12,000
6        12,000
7      1,75,800
8     10,00,000
9      1,30,700
10       36,944
11       16,915
12       41,062
13     5,00,000
14       74,532
15    15,00,000
16        6,690
17            0
18       11,225
19        4,974
20       67,860
21     5,00,000
22     5,13,000
23       21,500
24     6,98,000
25       20,593
26       49,000
27    38,27,000
Name: Disbursed_Amount, dtype: object

In [102]:
print(xmlToDf.Disbursed_Amount)
y=xmlToDf.Disbursed_Amount
y.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer8.xls")

0       35,000
1       31,500
2       12,000
3        6,400
4       15,500
5       70,000
6       45,000
7       20,000
8       47,000
9       35,000
10      20,000
11       5,000
12      20,000
13    1,30,000
14      21,600
15      50,000
16      20,000
17    1,65,000
18      11,500
19      11,500
20      11,340
21      38,000
22      52,000
23      62,000
24      35,000
Name: Disbursed_Amount, dtype: object

In [106]:
print(xmlToDf.Disbursed_Amount)
z=xmlToDf.Disbursed_Amount
z.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer9.xls")

0       12,500
1       10,100
2       22,000
3       22,000
4        9,500
5       32,500
6        8,100
7            1
8        9,200
9       65,100
10      11,100
11    5,00,000
12      93,500
Name: Disbursed_Amount, dtype: object

In [108]:
print(xmlToDf.Disbursed_Amount)
a=xmlToDf.Disbursed_Amount
a.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer10.xls")

0       45,614
1       26,740
2     3,17,000
3     1,00,000
4     1,29,000
5     6,38,536
6       16,032
7    17,10,000
Name: Disbursed_Amount, dtype: object

In [9]:
print(xmlToDf.Disbursed_Amount)
y=xmlToDf.Disbursed_Amount
y.to_csv(r"C:\Users\ACER\Downloads\Insurance-prediction-main\Insurance-prediction-main\customer5.xls")

0        3,500
1       30,551
2       46,000
3       91,000
4        1,799
5        3,500
6     1,14,000
7        1,979
8       39,000
9        3,500
10       3,500
11      30,200
12      37,999
13       5,000
14       9,484
15       9,000
16      16,500
17      29,575
18       5,000
19       3,500
20       8,800
21      80,000
22      24,240
23       5,000
24      12,661
25      11,999
26      30,552
27       4,000
28      25,000
29       5,000
Name: Disbursed_Amount, dtype: object

In [11]:
#Combining all customers file of their disbursed amount

In [18]:
import pandas as pd

df = pd.read_csv(r'C:\Users\ACER\Downloads\merged disbursedamt.csv')
print(df)

    Customer1   Customer2  Customer3  Customer4  Cuatomer5  Customer6  \
0     100000.0   221850.0    17926.0   152244.0     3500.0      36000
1     127341.0    54997.0   100000.0     7000.0    30551.0      31395
2     900000.0    10000.0    52602.0    51000.0    46000.0       4700
3     130405.0     5000.0    38221.0    16999.0    91000.0      27900
4      22999.0     8000.0    58276.0    60000.0     1799.0      30000
5     375000.0   132000.0    37000.0   218876.0     3500.0       9000
6      35000.0    12700.0    40000.0    99698.0   114000.0      44034
7     121094.0     8000.0    23990.0   213844.0     1979.0      29000
8     121094.0     7992.0     4000.0    11000.0     9000.0      11400
9     300000.0    10000.0    71000.0    13990.0     3500.0      42500
10     42000.0    10242.0    48619.0   213844.0     3500.0      19500
11     60000.0     8000.0    50000.0     5000.0    30200.0      25900
12     70000.0    39000.0    46273.0    14478.0    37999.0       6000
13    301000.0    38000.0    10000.0    15500.0     5000.0       8530
14    985000.0     8000.0     4000.0   132000.0     9484.0      39990
15   1228599.0    38700.0    11790.0    19999.0    19000.0      13500
16    650000.0    60000.0        NaN   191081.0    16500.0      19120
17     47148.0    16607.0        NaN   103171.0    29575.0      54600
18     18532.0    10000.0        NaN   303814.0     5000.0      10268
19     55666.0   135000.0        NaN   485000.0     3500.0      47996
20    375000.0    17409.0        NaN    10000.0     8800.0       6005
21     97983.0    25000.0        NaN   310161.0    80000.0      71410
22    155677.0    27000.0        NaN    71352.0    24240.0       5249
23     15390.0    10000.0        NaN    47687.0     5000.0      25600
24     55666.0     8000.0        NaN     7809.0    12661.0      17000
25    160000.0     5000.0        NaN    66000.0    11999.0       8000
26         0.0    38700.0        NaN   500000.0    30552.0      46000
27    114304.0    10000.0        NaN     5000.0     4000.0      18800
28         NaN    41363.0        NaN    10000.0    25000.0      50300
29         NaN    56044.0        NaN    84257.0     5000.0      21990
30         NaN        NaN        NaN   132000.0        NaN      41700
31         NaN        NaN        NaN        NaN        NaN       7000
32         NaN        NaN        NaN        NaN        NaN      16600

    Customer7  Customer8  Customer9  Customer10
0    101333.0    35000.0    12500.0     45614.0
1    570000.0    31500.0    10100.0     26740.0
2     33000.0    12000.0    22000.0    317000.0
3     40000.0     6400.0    22000.0    100000.0
4     14500.0    15500.0     9500.0    129000.0
5     12000.0    70000.0    32500.0    638536.0
6     12000.0    45000.0     8100.0     16032.0
7    175800.0    20000.0        1.0   1710000.0
8   1000000.0    47000.0     9200.0         NaN
9    130700.0    35000.0    65100.0         NaN
10    36944.0    20000.0    11100.0         NaN
11    16915.0     5000.0   500000.0         NaN
12    41062.0    20000.0    93500.0         NaN
13   500000.0   130000.0        NaN         NaN
14    74532.0    21600.0        NaN         NaN
15  1500000.0    50000.0        NaN         NaN
16     6690.0    20000.0        NaN         NaN
17        0.0   165000.0        NaN         NaN
18    11225.0    11500.0        NaN         NaN
19     4974.0    11500.0        NaN         NaN
20    67860.0    11340.0        NaN         NaN
21   500000.0    38000.0        NaN         NaN
22   513000.0    52000.0        NaN         NaN
23    21500.0    62000.0        NaN         NaN
24   698000.0    35000.0        NaN         NaN
25    20593.0        NaN        NaN         NaN
26    49000.0        NaN        NaN         NaN
27  3827000.0        NaN        NaN         NaN
28        NaN        NaN        NaN         NaN
29        NaN        NaN        NaN         NaN
30        NaN        NaN        NaN         NaN
31        NaN        NaN        NaN         NaN
32        NaN        NaN        NaN         NaN

In [1]:
# sum of total disbursed amount for all loans for each customer

In [20]:
sum_column = df.sum(axis=0)
print (sum_column)

Customer1     6664898.0
Customer2     1072604.0
Customer3      613697.0
Customer4     3572804.0
Cuatomer5      671839.0
Customer6      846987.0
Customer7     9978628.0
Customer8      970340.0
Customer9      795601.0
Customer10    2982922.0
dtype: float64

# now looking towards combined payment history

In [14]:
import xml.etree.ElementTree as ETree
import pandas as pd
  
# give the path where you saved the xml file
# inside the quotes
xmldata = r'C:\Users\ACER\Downloads\Coding_data\Coding_data\customer1.xml'
prstree = ETree.parse(xmldata)
root = prstree.getroot()

  
# print(root)
store_items = []
all_items = []
  
for storeno in root.iter('LOAN-DETAILS'):
    try:
        acct_number = storeno.find('ACCT-NUMBER').text
        credit_gurantaor = storeno.find('CREDIT-GUARANTOR').text
        account_type = storeno.find('ACCT-TYPE').text
        date_reported = storeno.find('DATE-REPORTED').text
        ownership_ind = storeno.find('OWNERSHIP-IND').text
        account_status = storeno.find('ACCOUNT-STATUS').text
        disbursed_amt = storeno.find('DISBURSED-AMT').text
        disbursed_date = storeno.find('DISBURSED-DATE').text
        last_payment_date = storeno.find('LAST-PAYMENT-DATE').text
        closed_date = storeno.find('CLOSED-DATE')
        overdue_amt = storeno.find('OVERDUE-AMT')
        write_off_amt = storeno.find('WRITE-OFF-AMT').text
        current_bal = storeno.find('CURRENT-BAL').text
        security_status = storeno.find('SECURITY-STATUS').text
        combined = storeno.find('COMBINED-PAYMENT-HISTORY').text
        matched_type = storeno.find('MATCHED-TYPE').text
        actual_payment = storeno.find('ACTUAL-PAYMENT').text
        overdue_amt = storeno.find('OVERDUE-AMT').text
        last_payment_date = storeno.find('LAST-PAYMENT-DATE').text
       
    except:
        None
        store_items = [acct_number, credit_gurantaor,account_type, date_reported,  ownership_ind, account_status,disbursed_amt,disbursed_date,last_payment_date,closed_date,overdue_amt, write_off_amt,current_bal, security_status,combined,matched_type,actual_payment,overdue_amt,last_payment_date]
        all_items.append(store_items)
    
xmlToDf = pd.DataFrame(all_items, columns=[
  'Acct_Number','Credit_gurantaor','Account_type', 'Date_Reported', 'Ownership_ind', 'Account_Status','Disbursed_Amount','Disbursed_Date','Last_payment_date','Closed_date','Overdue_amt','Write_off_amt','Current_Balance','Security_Status','Combined_Payment_History','Matched_type','Actual_payment','Overdue_Amount','Last_Payment_Date'])
  
print(xmlToDf.to_string(index=False))

    Acct_Number Credit_gurantaor         Account_type Date_Reported Ownership_ind Account_Status Disbursed_Amount Disbursed_Date Last_payment_date Closed_date Overdue_amt Write_off_amt Current_Balance Security_Status                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Combined_Payment_History Matched_type Actual_payment Overdue_Amount Last_Payment_Date
           XXXX             XXXX        Personal Loan    31-03-2018    Individual         Closed         1,00,000     05-04-2017        29-06-2017          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Jun:2017,000/XXX|May:2017,000/XXX|Apr:2017,000/XXX|      PRIMARY         19,280             []        29-06-2017
           XXXX             XXXX          Credit Card    31-05-2019    Individual         Active         1,27,341     15-06-2018        21-05-2019        None        None             0        1,02,983      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                         May:2019,000/XXX|Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|      PRIMARY         19,280           None        21-05-2019
           XXXX             XXXX        Personal Loan    30-04-2019    Individual         Active         9,00,000     20-07-2018        03-04-2019        None          []             0        8,17,536      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Apr:2019,000/STD|Mar:2019,DDD/DDD|Feb:2019,000/STD|Jan:2019,000/STD|Dec:2018,DDD/DDD|Nov:2018,000/STD|Oct:2018,000/STD|Sep:2018,000/STD|Aug:2018,XXX/XXX|      PRIMARY         19,280             []        03-04-2019
           XXXX             XXXX        Consumer Loan    30-11-2014    Individual         Closed         1,30,405     10-07-2013        14-02-2014          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Jan:2014,XXX/XXX|Dec:2013,XXX/XXX|Nov:2013,XXX/XXX|Oct:2013,XXX/XXX|Sep:2013,XXX/XXX|Aug:2013,XXX/XXX|      PRIMARY         19,280             []        14-02-2014
           XXXX             XXXX        Consumer Loan    30-04-2019    Individual         Closed           22,999     21-09-2016        26-09-2017          []          []             0               0      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                        Sep:2017,000/XXX|Aug:2017,000/XXX|Jul:2017,000/XXX|Jun:2017,000/XXX|May:2017,000/XXX|Apr:2017,000/XXX|Mar:2017,000/XXX|Feb:2017,000/XXX|Jan:2017,000/XXX|Dec:2016,000/XXX|Nov:2016,000/XXX|Oct:2016,000/XXX|Sep:2016,000/XXX|      PRIMARY         19,280             []        26-09-2017
           XXXX             XXXX        Personal Loan    31-08-2012    Individual         Closed         3,75,000     12-12-2011        06-08-2012          []        None             0               0      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Aug:2012,000/STD|Jul:2012,000/STD|Jun:2012,000/STD|May:2012,000/STD|Apr:2012,000/STD|Mar:2012,DDD/DDD|Feb:2012,000/STD|Jan:2012,000/STD|Dec:2011,000/STD|      PRIMARY         19,280           None        06-08-2012
           XXXX             XXXX        Consumer Loan    30-04-2019    Individual         Active           35,000     28-09-2018        06-08-2012          []        None             0               0      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Aug:2012,000/STD|Jul:2012,000/STD|Jun:2012,000/STD|May:2012,000/STD|Apr:2012,000/STD|Mar:2012,DDD/DDD|Feb:2012,000/STD|Jan:2012,000/STD|Dec:2011,000/STD|      PRIMARY         19,280           None        06-08-2012
           XXXX             XXXX          Credit Card    18-04-2019    Individual         Active         1,21,094     17-02-2019        01-04-2019        None        None             0        1,21,094      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Apr:2019,000/XXX|Mar:2019,000/XXX|      PRIMARY         19,280           None        01-04-2019
           XXXX             XXXX          Credit Card    20-12-2017    Individual         Closed         1,21,094     17-02-2019        01-04-2019        None        None             0        1,21,094      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Apr:2019,000/XXX|Mar:2019,000/XXX|      PRIMARY         19,280           None        01-04-2019
           XXXX             XXXX        Personal Loan    30-04-2018    Individual         Closed         3,00,000     25-03-2013        02-01-2019        None           0             0        1,28,734      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY       1,64,367              0        02-01-2019
           XXXX             XXXX        Personal Loan    30-04-2019    Individual         Active           42,000     10-01-2019        02-01-2019        None           0             0        1,28,734      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY       1,64,367              0        02-01-2019
           XXXX             XXXX        Personal Loan    01-04-2019    Individual         Active           60,000     16-08-2018        02-01-2019        None           0             0        1,28,734      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY       1,64,367              0        02-01-2019
           XXXX             XXXX        Personal Loan    30-04-2019    Individual         Active           70,000     12-07-2018        02-01-2019        None           0             0        1,28,734      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY       1,64,367              0        02-01-2019
002325200001340            FICCL        Personal Loan    28-02-2014    Individual         Closed         3,01,000     30-06-2011        02-01-2019        None           0             0        1,28,734      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   Dec:2018,000/XXX|Nov:2018,000/XXX|      PRIMARY       1,64,367              0        02-01-2019
           XXXX             XXXX Auto Loan (Personal)    30-04-2019    Individual         Active         9,85,000     22-06-2018        10-04-2019        None        None             0        8,47,014         Secured                                                                                                                                                                                                                                                                                                                                                                                                                                          Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,000/XXX|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|      PRIMARY       1,64,367           None        10-04-2019
           XXXX             XXXX        Personal Loan    30-04-2019    Individual         Active        12,28,599     13-12-2017        02-04-2019        None          []             0       12,28,599      Un-secured                                                                                                                                                                                                                                                                                                                                                     Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000/XXX|Jan:2019,000/XXX|Dec:2018,DDD/DDD|Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,XXX/XXX|Jul:2018,XXX/XXX|Jun:2018,XXX/XXX|May:2018,XXX/XXX|Apr:2018,XXX/XXX|Mar:2018,XXX/XXX|Feb:2018,XXX/XXX|Jan:2018,XXX/XXX|      PRIMARY         64,738             []        02-04-2019
           XXXX             XXXX        Personal Loan    31-03-2014    Individual         Closed         6,50,000     28-08-2012        05-03-2014          []        None             0               0      Un-secured                                                                                                                                                                                                                                                                                 Mar:2014,000/STD|Feb:2014,000/STD|Jan:2014,000/STD|Dec:2013,000/STD|Nov:2013,000/STD|Oct:2013,DDD/DDD|Sep:2013,000/STD|Aug:2013,000/STD|Jul:2013,000/STD|Jun:2013,000/STD|May:2013,000/STD|Apr:2013,000/STD|Mar:2013,000/STD|Feb:2013,000/STD|Jan:2013,000/STD|Dec:2012,000/STD|Nov:2012,000/STD|Oct:2012,000/STD|Sep:2012,000/STD|Aug:2012,000/STD|      PRIMARY         64,738           None        05-03-2014
           XXXX             XXXX          Credit Card    19-05-2011    Individual         Closed           47,148     29-08-2008        07-02-2011          []          []             0               0      Un-secured                                                                                                                                         Dec:2010,180/LOS|Nov:2010,150/XXX|Oct:2010,XXX/XXX|Sep:2010,XXX/XXX|Aug:2010,XXX/XXX|Jul:2010,XXX/XXX|Jun:2010,XXX/XXX|May:2010,XXX/XXX|Apr:2010,XXX/XXX|Mar:2010,XXX/XXX|Feb:2010,XXX/XXX|Jan:2010,XXX/XXX|Dec:2009,XXX/XXX|Nov:2009,XXX/XXX|Oct:2009,XXX/XXX|Sep:2009,XXX/XXX|Aug:2009,XXX/XXX|Jul:2009,XXX/XXX|Jun:2009,XXX/XXX|May:2009,XXX/XXX|Apr:2009,XXX/XXX|Mar:2009,XXX/XXX|Feb:2009,XXX/XXX|Jan:2009,XXX/XXX|Dec:2008,XXX/XXX|Nov:2008,XXX/XXX|Oct:2008,XXX/XXX|Sep:2008,XXX/XXX|      PRIMARY         14,968             []        07-02-2011
           XXXX             XXXX          Credit Card    14-07-2014    Individual         Closed              532     14-10-2011        03-02-2012          []        None             0               0      Un-secured                                                    Jul:2014,000/XXX|Jun:2014,DDD/DDD|May:2014,DDD/DDD|Apr:2014,738/XXX|Mar:2014,DDD/DDD|Feb:2014,DDD/DDD|Jan:2014,DDD/DDD|Dec:2013,DDD/DDD|Nov:2013,DDD/DDD|Oct:2013,DDD/DDD|Sep:2013,DDD/DDD|Aug:2013,DDD/DDD|Jul:2013,DDD/DDD|Jun:2013,DDD/DDD|May:2013,DDD/DDD|Apr:2013,DDD/DDD|Mar:2013,DDD/DDD|Feb:2013,DDD/DDD|Jan:2013,DDD/DDD|Dec:2012,DDD/DDD|Nov:2012,DDD/DDD|Oct:2012,DDD/DDD|Sep:2012,DDD/DDD|Aug:2012,DDD/DDD|Jul:2012,DDD/DDD|Jun:2012,DDD/DDD|May:2012,DDD/DDD|Apr:2012,DDD/DDD|Mar:2012,000/XXX|Feb:2012,XXX/XXX|Jan:2012,XXX/XXX|Dec:2011,XXX/XXX|Nov:2011,XXX/XXX|      PRIMARY         14,968           None        03-02-2012
           XXXX             XXXX          Credit Card    12-04-2019    Individual         Closed           55,666     19-12-2017        22-07-2018          []          []             0          -1,121      Un-secured                                                                                                                                                                                                                                                                                                                                                                                                                                          Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,XXX/XXX|Jul:2018,XXX/XXX|Jun:2018,XXX/XXX|May:2018,XXX/XXX|Apr:2018,XXX/XXX|Mar:2018,XXX/XXX|Feb:2018,XXX/XXX|Jan:2018,XXX/XXX|      PRIMARY         14,968             []        22-07-2018
           XXXX             XXXX            Gold Loan    31-08-2018    Individual         Closed         3,75,000     23-11-2016        18-08-2018          []          []             0               0         Secured                                                                                                                                                                                                                                               Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000/XXX|May:2018,001/XXX|Apr:2018,001/XXX|Mar:2018,000/XXX|Feb:2018,000/XXX|Jan:2018,DDD/DDD|Dec:2017,000/XXX|Nov:2017,000/XXX|Oct:2017,000/XXX|Sep:2017,001/XXX|Aug:2017,000/XXX|Jul:2017,001/XXX|Jun:2017,001/XXX|May:2017,000/XXX|Apr:2017,000/XXX|Mar:2017,000/XXX|Feb:2017,000/XXX|Jan:2017,000/XXX|Dec:2016,000/XXX|Nov:2016,000/XXX|      PRIMARY              0             []        18-08-2018

In [26]:
print(xmlToDf.Combined_Payment_History)

0     Jun:2017,000/XXX|May:2017,000/XXX|Apr:2017,000...
1     May:2019,000/XXX|Apr:2019,000/XXX|Mar:2019,000...
2     Apr:2019,000/STD|Mar:2019,DDD/DDD|Feb:2019,000...
3     Jan:2014,XXX/XXX|Dec:2013,XXX/XXX|Nov:2013,XXX...
4     Sep:2017,000/XXX|Aug:2017,000/XXX|Jul:2017,000...
5     Aug:2012,000/STD|Jul:2012,000/STD|Jun:2012,000...
6     Aug:2012,000/STD|Jul:2012,000/STD|Jun:2012,000...
7                    Apr:2019,000/XXX|Mar:2019,000/XXX|
8                    Apr:2019,000/XXX|Mar:2019,000/XXX|
9                    Dec:2018,000/XXX|Nov:2018,000/XXX|
10                   Dec:2018,000/XXX|Nov:2018,000/XXX|
11                   Dec:2018,000/XXX|Nov:2018,000/XXX|
12                   Dec:2018,000/XXX|Nov:2018,000/XXX|
13                   Dec:2018,000/XXX|Nov:2018,000/XXX|
14    Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000...
15    Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000...
16    Mar:2014,000/STD|Feb:2014,000/STD|Jan:2014,000...
17    Dec:2010,180/LOS|Nov:2010,150/XXX|Oct:2010,XXX...
18    Jul:2014,000/XXX|Jun:2014,DDD/DDD|May:2014,DDD...
19    Nov:2018,000/XXX|Oct:2018,000/XXX|Sep:2018,000...
20    Aug:2018,000/XXX|Jul:2018,000/XXX|Jun:2018,000...
21    Jul:2016,000/XXX|Jun:2016,000/XXX|May:2016,000...
22    Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000...
23    Jan:2011,120/XXX|Dec:2010,090/XXX|Nov:2010,060...
24    Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000...
25    Oct:2018,000/XXX|Sep:2018,000/XXX|Aug:2018,000...
26    Apr:2014,000/XXX|Mar:2014,XXX/XXX|Feb:2014,XXX...
27    Apr:2019,000/XXX|Mar:2019,000/XXX|Feb:2019,000...
Name: Combined_Payment_History, dtype: object

In [16]:
import string
words = xmlToDf.Combined_Payment_History
new_words = []
for word in words:
    for letter in word:
        if letter in string.punctuation:           
            word = word.replace(letter,"                         ")   
    new_words.append(word) 

print(new_words)

['Jun                         2017                         000                         XXX                         May                         2017                         000                         XXX                         Apr                         2017                         000                         XXX                         ', 'May                         2019                         000                         XXX                         Apr                         2019                         000                         XXX                         Mar                         2019                         000                         XXX                         Feb                         2019                         000                         XXX                         Jan                         2019                         000                         XXX                         Dec                         2018                         000                         XXX                         Nov                         2018                         000                         XXX                         Oct                         2018                         000                         XXX                         Sep                         2018                         000                         XXX                         Aug                         2018                         000                         XXX                         Jul                         2018                         000                         XXX                         Jun                         2018                         000                         XXX                         ', 'Apr                         2019                         000                         STD                         Mar                         2019                         DDD                         DDD                         Feb                         2019                         000                         STD                         Jan                         2019                         000                         STD                         Dec                         2018                         DDD                         DDD                         Nov                         2018                         000                         STD                         Oct                         2018                         000                         STD                         Sep                         2018                         000                         STD                         Aug                         2018                         XXX                         XXX                         ', 'Jan                         2014                         XXX                         XXX                         Dec                         2013                         XXX                         XXX                         Nov                         2013                         XXX                         XXX                         Oct                         2013                         XXX                         XXX                         Sep                         2013                         XXX                         XXX                         Aug                         2013                         XXX                         XXX                         ', 'Sep                         2017                         000                         XXX                         Aug                         2017                         000                         XXX                         Jul                         2017                         000                         XXX                         Jun                         2017                         000                         XXX                         May                         2017                         000                         XXX                         Apr                         2017                         000                         XXX                         Mar                         2017                         000                         XXX                         Feb                         2017                         000                         XXX                         Jan                         2017                         000                         XXX                         Dec                         2016                         000                         XXX                         Nov                         2016                         000                         XXX                         Oct                         2016                         000                         XXX                         Sep                         2016                         000                         XXX                         ', 'Aug                         2012                         000                         STD                         Jul                         2012                         000                         STD                         Jun                         2012                         000                         STD                         May                         2012                         000                         STD                         Apr                         2012                         000                         STD                         Mar                         2012                         DDD                         DDD                         Feb                         2012                         000                         STD                         Jan                         2012                         000                         STD                         Dec                         2011                         000                         STD                         ', 'Aug                         2012                         000                         STD                         Jul                         2012                         000                         STD                         Jun                         2012                         000                         STD                         May                         2012                         000                         STD                         Apr                         2012                         000                         STD                         Mar                         2012                         DDD                         DDD                         Feb                         2012                         000                         STD                         Jan                         2012                         000                         STD                         Dec                         2011                         000                         STD                         ', 'Apr                         2019                         000                         XXX                         Mar                         2019                         000                         XXX                         ', 'Apr                         2019                         000                         XXX                         Mar                         2019                         000                         XXX                         ', 'Dec                         2018                         000                         XXX                         Nov                         2018                         000                         XXX                         ', 'Dec                         2018                         000                         XXX                         Nov                         2018                         000                         XXX                         ', 'Dec                         2018                         000                         XXX                         Nov                         2018                         000                         XXX                         ', 'Dec                         2018                         000                         XXX                         Nov                         2018                         000                         XXX                         ', 'Dec                         2018                         000                         XXX                         Nov                         2018                         000                         XXX                         ', 'Apr                         2019                         000                         XXX                         Mar                         2019                         000                         XXX                         Feb                         2019                         000                         XXX                         Jan                         2019                         000                         XXX                         Dec                         2018                         000                         XXX                         Nov                         2018                         000                         XXX                         Oct                         2018                         000                         XXX                         Sep                         2018                         000                         XXX                         Aug                         2018                         000                         XXX                         Jul                         2018                         000                         XXX                         Jun                         2018                         000                         XXX                         ', 'Apr                         2019                         000                         XXX                         Mar                         2019                         000                         XXX                         Feb                         2019                         000                         XXX                         Jan                         2019                         000                         XXX                         Dec                         2018                         DDD                         DDD                         Nov                         2018                         000                         XXX                         Oct                         2018                         000                         XXX                         Sep                         2018                         000                         XXX                         Aug                         2018                         XXX                         XXX                         Jul                         2018                         XXX                         XXX                         Jun                         2018                         XXX                         XXX                         May                         2018                         XXX                         XXX                         Apr                         2018                         XXX                         XXX                         Mar                         2018                         XXX                         XXX                         Feb                         2018                         XXX                         XXX                         Jan                         2018                         XXX                         XXX                         ', 'Mar                         2014                         000                         STD                         Feb                         2014                         000                         STD                         Jan                         2014                         000                         STD                         Dec                         2013                         000                         STD                         Nov                         2013                         000                         STD                         Oct                         2013                         DDD                         DDD                         Sep                         2013                         000                         STD                         Aug                         2013                         000                         STD                         Jul                         2013                         000                         STD                         Jun                         2013                         000                         STD                         May                         2013                         000                         STD                         Apr                         2013                         000                         STD                         Mar                         2013                         000                         STD                         Feb                         2013                         000                         STD                         Jan                         2013                         000                         STD                         Dec                         2012                         000                         STD                         Nov                         2012                         000                         STD                         Oct                         2012                         000                         STD                         Sep                         2012                         000                         STD                         Aug                         2012                         000                         STD                         ', 'Dec                         2010                         180                         LOS                         Nov                         2010                         150                         XXX                         Oct                         2010                         XXX                         XXX                         Sep                         2010                         XXX                         XXX                         Aug                         2010                         XXX                         XXX                         Jul                         2010                         XXX                         XXX                         Jun                         2010                         XXX                         XXX                         May                         2010                         XXX                         XXX                         Apr                         2010                         XXX                         XXX                         Mar                         2010                         XXX                         XXX                         Feb                         2010                         XXX                         XXX                         Jan                         2010                         XXX                         XXX                         Dec                         2009                         XXX                         XXX                         Nov                         2009                         XXX                         XXX                         Oct                         2009                         XXX                         XXX                         Sep                         2009                         XXX                         XXX                         Aug                         2009                         XXX                         XXX                         Jul                         2009                         XXX                         XXX                         Jun                         2009                         XXX                         XXX                         May                         2009                         XXX                         XXX                         Apr                         2009                         XXX                         XXX                         Mar                         2009                         XXX                         XXX                         Feb                         2009                         XXX                         XXX                         Jan                         2009                         XXX                         XXX                         Dec                         2008                         XXX                         XXX                         Nov                         2008                         XXX                         XXX                         Oct                         2008                         XXX                         XXX                         Sep                         2008                         XXX                         XXX                         ', 'Jul                         2014                         000                         XXX                         Jun                         2014                         DDD                         DDD                         May                         2014                         DDD                         DDD                         Apr                         2014                         738                         XXX                         Mar                         2014                         DDD                         DDD                         Feb                         2014                         DDD                         DDD                         Jan                         2014                         DDD                         DDD                         Dec                         2013                         DDD                         DDD                         Nov                         2013                         DDD                         DDD                         Oct                         2013                         DDD                         DDD                         Sep                         2013                         DDD                         DDD                         Aug                         2013                         DDD                         DDD                         Jul                         2013                         DDD                         DDD                         Jun                         2013                         DDD                         DDD                         May                         2013                         DDD                         DDD                         Apr                         2013                         DDD                         DDD                         Mar                         2013                         DDD                         DDD                         Feb                         2013                         DDD                         DDD                         Jan                         2013                         DDD                         DDD                         Dec                         2012                         DDD                         DDD                         Nov                         2012                         DDD                         DDD                         Oct                         2012                         DDD                         DDD                         Sep                         2012                         DDD                         DDD                         Aug                         2012                         DDD                         DDD                         Jul                         2012                         DDD                         DDD                         Jun                         2012                         DDD                         DDD                         May                         2012      

In [2]:
#In this way we can separate all punctuation from Combined Payment History detail of every customer

In [4]:
#After Separting we can filter 30+ DPD by applying    if disbursed amt % 30 == 0:
       # print("DPD")                                        
       # continue